
@font-face {
  font-family: poppins;
  src: url();
}
body{
  background-color: rgb(209, 204, 204);
}
#background{
  background-color: white;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 250px;
  bottom: 0;
  left: 0;
  right: 0;
}
#container{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  width: 60%;
  height: 500px;
  margin-top: 5%;
}
#container > #container1{
  background-color: white;
  display: flex;
  flex-direction: column;

  width: 55%;
  height: 90%;

  margin-left: auto;

  box-shadow:   0px 0px 10px 0px grey;
}


#container > #container1 > #sous-container11{

  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;


}


#container > #container1 > #sous-container11 >  #sous-container111{


  width: 50%;

}


#container > #container1 > #sous-container11 >  #sous-container112{


  width: 50%;


}

#container > #container1 > #sous-container11 >  #sous-container111 > .input{
  background-color: white;
  outline: none;
  width: 80%;
  margin-left: 10%;
  height: 45%;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-style: none none solid none;
  border-width: 1px;
  border-color: grey;
}

#container > #container1 > #sous-container11 >  #sous-container112 > .input{
  background-color: white;
 outline: none;
    width: 80%;
  margin-left: 10%;
  height: 45%;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-style: none none solid none;
  border-width: 1px;
  border-color: grey;

}


#container > #container1 > #sous-container12{

  display: flex;
  flex-direction: column;
    width: 100%;
  height: 20%;


}

#container > #container1 > #sous-container12 > p{
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 0.8;
  margin-left: 4%;
  margin-top: auto;
  margin-bottom: auto;
  }

  #container > #container1 > #button{

    width: 100%;
    height: 10%;
    padding-top: 23%;
  }
  
  #container > #container1 > #button > .input{
    background-color: rgb(124, 122, 122);
    color: white;
    width: 30%;
    height: 85%;
    font-size: 13px;
    margin-left: 4%;
    
    border-width: 1px 1px 1px 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

 
#container > #container2{
  background-color: rgb(124, 122, 122);

  width: 26%;
  height: 90%;

  margin-right: auto;

}

#container > #container2 > #sous-container11{

  display: flex;
  flex-direction: column;
    width: 100%;
  height: 20%;


}

#container > #container2 > #sous-container11 > p{
  color: white;
  font-size: 22px;
  font-family: cursive;
  opacity: 0.8;
  margin-left: 4%;
  margin-top: auto;
  margin-bottom: auto;
  }

  #container > #container2 > #sous-container12{
    display: flex;
    flex-direction: column;
      width: 100%;
    height: 15%;
  
  
  }
  
  #container > #container2 > #sous-container12 > p{
    color: white;
    font-size: px;
    font-family: cursive;
    opacity: 0.8;
    margin-left: 4%;
    margin-top: auto;
    margin-bottom: auto;
    }

    #container > #container2 > #sous-container13{

      display: flex;
      flex-direction: column;
      margin-top: 20%;
        width: 100%;
      height: 25%;
    
    
    }
    
    #container > #container2 > #sous-container13 > p{
      color: white;
      font-size: 12px;
      font-family: cursive;
      opacity: 0.8;
      margin-left: 4%;
      margin-top: auto;
      margin-bottom: auto;
      }
    
      #files > .file{
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        opacity: 0.8;
        margin-left: 4%;
      }
  